/* Basic Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f4f8;
  color: black;
}

/* Navbar Styles */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li {
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.menu li:hover {
  color: #1d1313;
  transform: translateY(-3px);
}

.menu li:active {
  color: #a0d2eb;
}

/* Toast Styles */
.react-hot-toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

/* Responsive Menu */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    display: none; /* Hide menu by default */
    width: 100%;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
  }

  .menu.active {
    display: flex; /* Show menu when active */
  }

  .menu li {
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #333;
  }
}

/* Hamburger Menu for Mobile */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}
